body {
  background: url(../img/bgblanco.png) repeat;
  text-align: justify;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

.header {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 5px;
  color: rgb(255, 250, 250, 0.90);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.75);
}

.topnav {
  overflow: hidden;
  background-color: rgb(210, 105, 30, 0.5);
  opacity: 0.85;
  text-align: center; /* Alinea el contenido al centro */
}

.topnav .nav {
  display: inline-block;
}

.topnav .nav a {
  float: none; /* Cancela la propiedad float */
  display: inline-block; /* Hace que los elementos de enlace sean elementos en línea */
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.topnav a:hover {
  background-color: rgb(128, 128, 128, 0.25);
  color: rgb(255, 215, 0, 0.75);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  border: 1px solid rgb(211, 211, 211, 0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
}

.cardTitle {
  font-size: 24px;
  padding: 10px 10px 0 10px;
  ;
}

.cardBody {
  padding: 10px;
  flex: 1 1 100%;
}

.cardFooter {
  background: rgb(50, 205, 50, 0.25);
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgb(0, 0, 255, 0.80);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.footer {
  background: url(../img/bgblue2.png) repeat;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
  color: rgb(255, 250, 250, 0.90);
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.75);
}

.input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  /* Espacio entre los grupos de entrada */
}

.input-container p {
  margin-right: 10px;
  /* Espacio entre la etiqueta y el campo de entrada */
}

.input-container input {
  flex: 1;
  /* Hace que el campo de entrada ocupe todo el espacio restante */
}

/*Aqui van los botones del menu del ejercicio*/

.menuEjercicio {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  margin-bottom: 15px;
}

#texto h2 {
  border-bottom: 2px solid #3498db; /* Línea de borde inferior de 2 píxeles de grosor y color azul */
  padding-bottom: 10px; /* Espacio entre el texto y la línea */
  text-align: center; /* Alinear el texto al centro */
  font-size: 24px; /* Tamaño de fuente personalizado */
  color: #333; /* Color de texto personalizado */
  display: center; /* Hace que el título sea un elemento en línea */
}

.menuButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
}

.menuButton:hover {
  background-color: #b92929;
}
