body {
    margin: 0 auto;
    padding-left: 10px;
}

#contenedor {
    padding-left: 0.5em;
    text-align: left;
    width: 1150px;
    height: auto;
}

table {
    width: 100%;
}

th,
td {
    width: auto;
    text-align: left;
    vertical-align: top;
}
